.formulario{
    max-width: 450px;
}

.campo {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.campo label {
    margin-bottom: 4px;
}

.campo input {
    flex: 1;
    padding: 6px;
}