@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --card-background-color: #eef0eae8;
  --principal-background-color: #105f9c40;
  --primary-color: #10609c;
  --secondary-color: #f26b10;
  --shadow-color: rgba(0, 0, 0, 0.3);
  --accent-color: #399f1f;
  --link-color: #0e4d7c;
  --default-color: #eef0ea;
  --font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/assets/pexels-fauxels-3184430.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  font-family: var(--font-family);
}


.card {
  background-color: var(--card-background-color);
  padding: 30px;
  box-shadow: 3px 3px 6px 3px var(--shadow-color);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}

button {
  background-color: transparent;
  border-color: var(--primary-color);
  color: var(--primary-color);
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
}

button:hover {
  background-color: var(--primary-color);
  color: var(--default-color);
}

.justify-center {
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
  word-break: break-word;
  border-spacing: 10px;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid var(--primary-color) !important;
}

thead tr th {
  background-color: var(--primary-color);
  color: var(--default-color);
  text-align: start;
  padding: 5px;
  margin-bottom: 50px;
}

thead tr th.acao {
  width: 100px !important;
  text-align: center;
}

tbody tr td {
  max-width: 50px;
  vertical-align: text-top;
  padding: 6px;
}

tbody tr {
  margin-bottom: 50px;
}

tbody tr td.acao {
  text-align: center;
}

p {
    color: var(--primary-color);
    font-size: 14pt;
    text-align: center;
}

.rodape {
  background-color: var(--default-color);
  text-align: center;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}


@media screen and (max-width: 600px) {

   body {
    font-size: 0.5rem;
  }

  thead tr th.acao {
    width: auto !important;
  }

  td button i {
    font-size: 1.2rem !important;
  }


  td button i:first-child {
    margin-right: 0;
  }  

  .rodape p {
    max-width: 260px;
    margin: 0 auto;
    line-height: 1.4;
  }
 
    .modal label {
        font-size: 0.7rem !important;
    }
}

.btn-action {
  cursor: pointer;
  font-size: 1rem;
  padding: 4px;
  transition: transform 0.2s ease, color 0.2s ease;
}

.btn-action:hover {
  transform: scale(1.2);
}

.btn-edit {
  color: var(--primary-purple);
}

.btn-edit:hover {
  color: #4038a0;
}

.btn-delete {
  color: #a94442;
}

.btn-delete:hover {
  color: #e74c3c;
}