@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --card-background-color: #eef0eae8;
  --principal-background-color: #105f9c40;
  --primary-color: #10609c;
  --secondary-color: #f26b10;
  --shadow-color: rgba(0, 0, 0, 0.3);
  --accent-color: #399f1f;
  --link-color: #0e4d7c;
  --default-color: #eef0ea;
  --font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url("../assets/pexels-fauxels-3184430.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  font-family: var(--font-family);
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}

.card {
  background-color: var(--card-background-color);
  padding: 30px;
  border-radius: 4%;
  box-shadow: 3px 3px 6px 3px var(--shadow-color);
  width: 400px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.label-float input {
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid var(--primary-color);
  background-color: transparent;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  transition: all .3s ease-out;
  border-radius: 0;
}

.label-float {
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.label-float input:focus {
  border-bottom: 2px solid var(--accent-color);
}

.label-float label {
  color: var(--primary-color);
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
}

.label-float input:focus+label,
.label-float input:valid+label {
  font-size: 13px;
  margin-top: 0;
  color: var(--accent-color);
}

button {
  background-color: transparent;
  border-color: var(--primary-color);
  color: var(--primary-color);
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
}

button:hover {
  background-color: var(--primary-color);
  color: var(--default-color);
}

.justify-center {
  display: flex;
  justify-content: center;
}

.fa-eye {
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  color: var(--primary-color);
}

#msgError {
  text-align: center;
  color: var(--default-color);
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 4px;
  display: none;
}

#msgSuccess {
  text-align: center;
  color: var(--default-color);
  background-color: var(--accent-color);
  padding: 10px;
  border-radius: 4px;
  display: none;
}

.rodape {
  background-color: var(--default-color);
  text-align: center;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: var(--primary-color);
  font-size: 14pt;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .card {
    width: 90%;
    padding: 20px;
  }
  
  .rodape p {
    max-width: 260px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.4;
  }
}